In [1]:
import pandas as pd
import re

In [2]:
#read csv and insert headers
df = pd.read_csv('payscale_data_2.csv', names=['Rank','Major', 'DegreeType', 'EarlyCareerPay', 'MidCareerPay', 'HighMeaning'])
df.head()

,Rank,Major,DegreeType,EarlyCareerPay,MidCareerPay,HighMeaning
0,1,Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,Public Accounting,Bachelors,"$59,800","$147,700",47%

In [3]:
df = df.drop(['DegreeType', 'Rank'], axis = 1)

In [4]:
#finding nan values
print("Count total NaN at each column in a DataFrame : \n\n")
df.isnull().sum()

# df.isna().values.any()

Count total NaN at each column in a DataFrame :

Major             0
EarlyCareerPay    0
MidCareerPay      0
HighMeaning       0
dtype: int64

In [5]:
df.EarlyCareerPay = df.EarlyCareerPay.map(lambda x: re.sub(r'\W+', '', x))
df.MidCareerPay = df.MidCareerPay.map(lambda x: re.sub(r'\W+', '', x))
df.HighMeaning = df.HighMeaning.map(lambda x: re.sub(r'\W+', '', x))
df.head()

,Major,EarlyCareerPay,MidCareerPay,HighMeaning
0,Petroleum Engineering,93200,187300,67
1,Operations Research & Industrial Engineering,84800,170400,28
2,Electrical Engineering & Computer Science (EECS),108500,159300,46
3,Interaction Design,68300,155800,55
4,Public Accounting,59800,147700,47

In [6]:
df.dtypes

Major             object
EarlyCareerPay    object
MidCareerPay      object
HighMeaning       object
dtype: object

In [7]:
df[['EarlyCareerPay', 'MidCareerPay', 'HighMeaning']] = df[['EarlyCareerPay', 'MidCareerPay', 'HighMeaning']].apply(pd.to_numeric)
print(df.dtypes)

Major              object
EarlyCareerPay      int64
MidCareerPay        int64
HighMeaning       float64
dtype: object

In [8]:
df.EarlyCareerPay.max()

108500

In [9]:
id = df.EarlyCareerPay.idxmax()
df.loc[id]

Major             Electrical Engineering & Computer Science (EECS)
EarlyCareerPay                                              108500
MidCareerPay                                                159300
HighMeaning                                                     46
Name: 2, dtype: object

In [10]:
df.Major.loc[df.MidCareerPay.idxmax()]

'Petroleum Engineering'

In [11]:
df.Major.loc[df.EarlyCareerPay.idxmin()]

'Voice & Opera'

In [12]:
df.loc[df.MidCareerPay.idxmin()]

Major             Metalsmithing
EarlyCareerPay            40000
MidCareerPay              40300
HighMeaning                  33
Name: 826, dtype: object

In [13]:
Spread_col = df.MidCareerPay - df.EarlyCareerPay
df.insert(2, 'Spread', Spread_col)
df.head()

,Major,EarlyCareerPay,Spread,MidCareerPay,HighMeaning
0,Petroleum Engineering,93200,94100,187300,67.0
1,Operations Research & Industrial Engineering,84800,85600,170400,28.0
2,Electrical Engineering & Computer Science (EECS),108500,50800,159300,46.0
3,Interaction Design,68300,87500,155800,55.0
4,Public Accounting,59800,87900,147700,47.0

In [14]:
low_risk = df.sort_values('Spread', ascending=False)
low_risk[['Major', 'Spread']].head()

                                           Major  Spread
0                          Petroleum Engineering   94100
4                              Public Accounting   87900
3                             Interaction Design   87500
1   Operations Research & Industrial Engineering   85600
10                Information & Computer Science   82300

In [15]:
high_potential = df.sort_values('MidCareerPay', ascending=False)
high_potential[['Major', 'MidCareerPay']].head()

                                              Major  MidCareerPay
0                             Petroleum Engineering        187300
1      Operations Research & Industrial Engineering        170400
2  Electrical Engineering & Computer Science (EECS)        159300
3                                Interaction Design        155800
4                                 Public Accounting        147700